*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-transition: border-box;
  -moz-transition: border-box;
  transition: border-box;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}
body {
  font-family: 'Circular Book';
  color: white;
  letter-spacing: 0.05rem;
  background: white;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
body.illustration {
  overflow-x: hidden;
}
a {
  color: #1C1C1C;
  text-decoration: none;
}
img {
  width: 100%;
}
.navbar {
  position: absolute;
  height: 6rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.navbar .nav-wrapper {
  padding: 0 2.5rem;
  width: 100%;
}
.navbar .nav-wrapper .logo {
  width: 200px;
}
.navbar .nav-wrapper .logo svg {
  width: 100%;
}
.navbar .nav-wrapper .logo svg path,
.navbar .nav-wrapper .logo svg polygon {
  fill: #1C1C1C;
}
.navbar .nav-wrapper .link-container .nav-link {
  font-family: 'Circular Book';
  margin-left: 4rem;
  font-size: 1.2rem;
}
.navbar .nav-menu {
  height: 30px;
  width: 30px;
  background: red;
  position: relative;
  cursor: pointer;
}
.navbar .nav-menu span {
  top: 5px;
  width: 100%;
  height: 2px;
  background: black;
  position: absolute;
}
.navbar .nav-menu span:nth-of-type(2) {
  top: calc(50% - 2px);
}
.navbar .nav-menu span:nth-of-type(3) {
  top: auto;
  bottom: 5px;
}
.section-home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.section-home .text-container {
  z-index: 1;
  width: 30rem;
  text-align: right;
  padding-right: 6rem;
  padding-bottom: 8rem;
  position: relative;
}
.section-home .text-container .hello-there {
  margin: 2rem 0;
  overflow: hidden;
}
.section-home .text-container .hello-there h2 {
  transform: translateY(100%);
  fill: white;
  display: inline;
  font-size: 4.5rem;
}
.section-home .text-container p {
  opacity: 0;
  transform: translateY(100%);
  font-size: 1.4em;
  font-family: 'Circular Book';
}
.section-home .text-container p:nth-of-type(2) {
  margin-top: 0.5rem;
}
.section-home .social-container {
  position: absolute;
  left: 2.5rem;
  bottom: 2.5rem;
}
.section-home .social-container .social-link {
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  padding: 0 0.7rem;
  -webkit-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.section-home .social-container .social-link:hover {
  color: #ffffff;
}
.section-home .social-container .social-link:first-child {
  padding-left: 0;
}
.section-home .social-container .social-link:first-child::before {
  content: none;
}
.section-home .social-container .social-link::before {
  content: '';
  position: absolute;
  top: auto;
  right: 0;
  bottom: auto;
  left: 0;
  width: 1px;
  height: 80%;
  background: rgba(255, 255, 255, 0.5);
}
[data-namespace="home"] .navbar .nav-wrapper .link-container .nav-link {
  color: white;
}
[data-namespace="home"] .navbar .nav-wrapper .logo svg path,
[data-namespace="home"] .navbar .nav-wrapper .logo svg polygon {
  fill: white;
}
.disabled {
  color: currentColor;
  pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
.square {
  width: 40px;
  height: 40px;
  background: pink;
  margin: 0.5rem;
}
.background-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.rotating {
  width: 150vw;
  height: 150vw;
}
.stripe {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 0;
  background: white;
  z-index: 9;
}
.stripe-bottom {
  top: auto;
  bottom: 0;
}
@-webkit-keyframes rotating {
  /* Safari and Chrome */
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
